* {font-family: Arial, Helvetica, sans-serif;
   font-size: 27px;
   color: whitesmoke;
   margin: 0;
   padding: 0;}

#section {width: 100%;
          margin: auto;
          height: 100vh;
          /* position: relative; */ /* relative vira o "pai" */}

#header {width: 100%;
         height: 25vh;
         background-color: black;
         display: flex; /* desbloqueia a flexbox */
         align-items: center; /* centraliza verticalmente */
         justify-content: center; /* centraliza horizontalmente */
         /* position: absolute; */ /* toda mudança ocorrerá em relação ao pai (relative), e não em relação à página */
         /* top: 50px; */
         /* left: 0; */}

#nav {width: 20%;
      height: 62vh;
      background-color: rgb(14, 14, 14);
      float: left;
      display: flex;
      justify-content: center;
      position: relative;}

#article {width: 80%;
          height: 62vh;
          background-color: rgb(24, 24, 24);
          float: left;}

#article div {padding: 15px;
              font-size: 25px;}

#article div p {font-size: 22px;}

#footer {width: 100%;
         height: 13vh;
         background-color: black;
         float: left;
         display: flex;
         align-items: center;
         justify-content: center;}

#footer a {text-decoration: none;}

#footer a:hover {text-decoration: none;
                 border: 2px solid whitesmoke;
                 padding: 3px;}

#menu {width: 131px;
       height: 31px;
       background-color: rgb(24, 24, 24);
       position: absolute;
       transition: height 500ms;
       color: whitesmoke;
       overflow: hidden;
       border-radius: 30px;
       padding: 10px;
       margin: auto;
       top: 11vh;}

#menu:hover {height: 231px;
             border: 4px solid whitesmoke;}

#menuestilo {text-align: center;
             font-size: 30px;}